.DS_Store
__pycache__
.vscode/
*.pth
/work/*.csv
/work/*.txt
/work/*.json
/datasets/AVLips
/datasets/large
/datasets/pear_video
/datasets/pear_video_clips
/datasets/_group_tmp
/your_video
/your_video_clips
/samples/wav
/samples_clips
*.zip